@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-controller="AdminPage" asp-action="Index">

  <h4>Hello admin!</h4>
  @foreach (var role in @ViewBag.roles)
  {
      <p>
        <strong>@role.Name | </strong>
        
      </p>
  }
</form>

<p>
  <a asp-controller="AdminPage" asp-action="Add">add book</a>
</p>