@{
    ViewData["Title"] = "Описание";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<div class="form-group">
    <img src="@ViewBag.ImagePath" align="left"/>
    <h4> @ViewBag.Annotation</h4>
    <h3> Цена @ViewBag.Price </h3>
    <h3> <a href="~/Store/Buy/@ViewBag.BookId">Купить</a> </h3>
</div>
